::-webkit-scrollbar { 
	display: none; 
}

#wh {
	width: 100%; 
	height: 100%;    
	overflow: hidden;
	position:relative;
}

.marker{
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	background-color: rgba(255, 0, 0,1);
}

.name_text{
	font-size: 16px;
	letter-spacing: 2px;
	text-shadow: -1px 0 #826333, 0 1px #826333, 1px 0 #826333, 0 -1px #826333;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
	color: #F4B777;
	top:-30px;
}

/* dvd screensaver */

#dvd {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  color: #fff;
}

.window {
  display: none;
  width: 700px;
  height: 700px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 1)
}